<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2015-2019 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.customermanagement.mapper.CustomerMapper">

	<resultMap id="customerResultMap" type="Customer">
		<id property="id" column="id" />
		<result property="firstName" column="first_name" />
		<result property="lastName" column="last_name" />
		<result property="emailId" column="email_address" />
		<result property="createdTime" column="created_time" />
		<result property="status" column="status" />
	</resultMap>

	<select id="findByEmailId" resultMap="customerResultMap">
		select *
		from customer
		where email_address=#{emailId}
	</select>

	<select id="findById" resultMap="customerResultMap">
		select *
		from customer
		where id=#{id}
	</select>

	<select id="findByColumns" resultMap="customerResultMap">
		select *
		from customer where 1=1
		<if test="c.firstName != null and c.firstName !=''">
			and first_name=#{c.firstName}
		</if>
		<if test="c.lastName != null and c.lastName !=''">
			and last_name=#{c.lastName}
		</if>
		<if test="c.emailId != null and c.emailId !=''">
			and email_address=#{c.emailId}
		</if>
		order by ${sc.sortColumn} ${sc.sortDirection}
	</select>

	<select id="findAll" resultMap="customerResultMap">
		select *
		from customer
		order by
		${sc.sortColumn} ${sc.sortDirection}
	</select>

	<update id="updateStatus">
		update customer set
		status = #{status}
		where id = #{id}
	</update>

	<update id="update">
		update customer set
		first_name = #{firstName},
		last_name = #{lastName},
		email_address = #{emailId},
		status = #{status}
		where id = #{id}
	</update>
	
	<insert id="insert">
		insert into customer (first_name, last_name, email_address, status,
		created_time)
		values (#{firstName}, #{lastName}, #{emailId}, #{status}, #{createdTime})
	</insert>
	
	<delete id="delete">
	    delete from customer where id = #{id}
	</delete>
	
</mapper>
